/*deep dark blue color: #4c6380*/
/*contrast color: #80694c*/
/*orange color: #e67500*/
/*contrast blue color: #0071e6*/
/*black them color: #383b37*/
.homepage{
  background-color: #6a6d68;
  /*background-image: url("http://res.cloudinary.com/dby3dvlvb/image/upload/v1486260827/Blurred_Background_HD_Mobile_Wallpaper23_cucebd.png")*/
}

header {
  background-color: #383b37;
  color: white;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  background-color: #383b37;
}

.nav-app-name h1{
  margin: 0;
  text-align: center;
  font-size: 43px;
  font-family: "Indie Flower";
}

.nav-author h3{
  margin: 0;
  padding-bottom: 17px;
  font-family: 'Raleway';
}

.nav-author a{
  opacity: 0.9;
  transition: opacity 0.7s;
  text-decoration: underline;
}

.nav-author a:hover{
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.7s;
}

.nav-right{
  display: flex;
  margin-right: 40px;
}

.nav-button a{
  font-family: 'Orbitron';
  color: white;
  opacity: 1;
  transition: opacity 0.7s;
}

.nav-button a:hover{
  opacity: 0.5;
  transition: opacity 0.7s;
}

.nav-logout-button{
  background-color: #383b37;
  padding: 0;
  border: none;
  font-size: 16px;
}

.nav-greet{
  color: white;
  font-size: 20px;
  font-family: 'Orbitron';
}

.logout_button {
  margin-left: 25px;
  margin-top: 16.4px;
  height: 20px;
  width: 55px
}

.logout_link {
  text-decoration: none;
}

.logout_button :hover{
  opacity: 0.5;
  transition: opacity 0.7s;
}

.app_name {
  align-items: center;
  text-align: center;
}

.app_name h1 {
  margin: 0;
}

a {
  padding-left: 10px;
  color: white;
  text-decoration: none;
}

h3 {
  text-align: center;
  font-family: 'Orbitron';
}
