.search-container{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: 'Orbitron';
}

.search-result-text{
  text-align: center;
  font-family: 'Raleway';
  color: white;
}

.search-submit{
  font-family: 'Orbitron';
  font-size: 15px;
  opacity: 1;
  transition: opacity 0.6s;
  border-radius: 4px;
  font-size: 22px;
  padding: 7px 7px 5px 6px;
}

.search-submit:hover{
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.6s;
}

.seach-form {
  margin: 0;
  padding: 0;
}

.search-form input{
  height: 34px;
  width: 286px;
  font-size: 22px;
  padding-left: 9px;
}
